$gray: #adb5bd;
$blue: #1e59ea;
$pink: #f783ac;
$red: #ff8787;
$grape: #da77f2;

@mixin checkbox-color($color) {
  .checked {
    color: $color;
  }
}

.checkbox {
  display: flex;
  align-items: center;

  label {
    cursor: pointer;
  }

  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  .icon {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-right: 0.25rem;
    color: #707070;

    &.medium {
      font-size: 27px;
    }

    &.small {
      font-size: 20px;
    }
  }

  &.pink {
    @include checkbox-color($pink);
  }

  &.blue {
    @include checkbox-color($blue);
  }

  &.grape {
    @include checkbox-color($grape);
  }

  &.gray {
    @include checkbox-color($gray);
  }

  &.red {
    @include checkbox-color($red);
  }
}
